#container {
    margin: 20px;
    font-size: 20px;
}

#container::before {
    content: "2 ";
    color: #f00;
    font-size: 20px;
}

#container::after {
    content: " 3";
    color: #f00;
    font-size: 20px;
}
